<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="A layout example that shows off a blog page with a list of posts.">

  <title>dhagrow</title>

  <link rel="stylesheet" href="css/pure-min.css">
  <link rel="stylesheet" href="css/blog.css">
  <link rel="stylesheet" href="css/source.css">
</head>
<body>

  <div id="layout" class="pure-g">
    <div class="sidebar pure-u-1-5">
      <div class="header">
        <h1 class="brand-title">dhagrow</h1>
        <h3 class="brand-tagline">prototype</h3>

        <nav class="nav">
          <ul class="nav-list">
            <li class="nav-item">
              <a class="pure-button" href="/gallery">gallery</a>
            </li>
            <li class="nav-item">
              <a class="pure-button" href="/archive">archive</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>

    <div id="content" class="content pure-u-4-5">
      <div id="posts">
        <div class="posts">
          <h1 class="content-subhead">Intro</h1>

          <section class="post">
            <header class="post-header">
              <p class="post-meta">
                <a class="post-category post-category-design" href="#">intro</a> <a class="post-category post-category-dev" href="#">dev</a>
              </p>
            </header>

            <div class="post-description">
              <p>
                This blog and it's inaugural series were born of my desire to explore new
                frontiers.
              </p>
              <p>
                For the past several years I have worked almost exclusively in Python and the
                client-side web languages (Javascript/HTML/CSS). Occasionally, I've had
                time to dig deeply into some C/C++, and go on small excursions with various
                common scripting languages (Bash, Ruby, etc...).
              </p>
              <p>
                I love Python, and it's easily my most productive language, but I feel like
                I've stretched it beyond it's limits on several fronts.
              </p>
              <p>
                This series will focus on the implementation of a web crawler (aka. spider) in
                various languages. With each language I will take the implementation through
                a number of stages which I hope will provide a reasonable survey of their
                capabilities.
              </p>
              <p>
                I begin with: Erlang.
              </p>
            </div>
          </section>
        </div>

        <div class="posts">
          <h1 class="content-subhead">Crawler Prototypes</h1>
          
        %for post in posts:
          <section class="post">
            <header class="post-header">
              <h2 class="post-title">${post.meta.title}</h2>

              <p class="post-meta">
              %for tag in post.meta.tags:
                <a class="post-category post-category-${tag}" href="#">${tag}</a>
              %endfor
              <a class="post-category post-category-language" href="#">${post.meta.language}</a>
              </p>
            </header>

            <div class="post-description">
              <p>
                ${post.content}
              </p>
            </div>
          </section>
        %endfor
        
        </div>

        <div class="footer">omnia mutantur, nos et mutamur in illis</div>
        
      </div> <!-- posts -->
    </div> <!-- content -->
  </div> <!-- layout -->

</body>
</html>
